 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 510px;
}

.u-section-1 .u-group-1 {
  width: 444px;
  min-height: 510px;
  margin: 0 64px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 18px;
}

.u-section-1 .u-text-1 {
  margin: 11px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 18px 1px 0 10px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 33px 12px 0 0;
}

.u-section-1 .u-video-1 {
  width: 594px;
  height: 383px;
  margin: -383px auto 0 38px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-video-1 {
    height: 382px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 903px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 347px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 218px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2189px;
}

.u-section-2 .u-text-1 {
  line-height: 1.6;
  font-size: 1.5rem;
  margin: 40px auto 0;
}

.u-section-2 .u-line-1 {
  width: 941px;
  transform-origin: left center 0px;
  margin: 28px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 32px 380px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 434px;
  height: 310px;
  margin: -28px auto 0 100px;
}

.u-section-2 .u-text-3 {
  margin: -273px 137px 0 570px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: 31px 434px 0 auto;
  padding: 7px 16px 9px 14px;
}

.u-section-2 .u-line-2 {
  width: 941px;
  transform-origin: left center 0px;
  margin: 32px auto 0;
}

.u-section-2 .u-image-2 {
  width: 434px;
  height: 309px;
  margin: 31px auto 0 100px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: -308px auto 0 570px;
}

.u-section-2 .u-text-5 {
  margin: 8px 137px 0 570px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  background-image: none;
  margin: 31px 434px 0 auto;
  padding: 7px 16px 9px 14px;
}

.u-section-2 .u-line-3 {
  width: 941px;
  transform-origin: left center 0px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 32px auto 0 570px;
}

.u-section-2 .u-image-3 {
  width: 434px;
  height: 309px;
  margin: -28px auto 0 100px;
}

.u-section-2 .u-text-7 {
  margin: -268px 137px 0 570px;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  background-image: none;
  margin: 56px 434px 0 auto;
  padding: 7px 16px 9px 14px;
}

.u-section-2 .u-line-4 {
  width: 941px;
  transform-origin: left center 0px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 32px auto 0 570px;
}

.u-section-2 .u-image-4 {
  width: 434px;
  height: 309px;
  margin: -28px auto 0 100px;
}

.u-section-2 .u-text-9 {
  margin: -273px 137px 0 570px;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  background-image: none;
  margin: 31px 434px 0 auto;
  padding: 7px 16px 9px 14px;
}

.u-section-2 .u-line-5 {
  width: 941px;
  transform-origin: left center 0px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 32px 486px 0 auto;
}

.u-section-2 .u-image-5 {
  width: 434px;
  height: 309px;
  margin: -28px auto 0 100px;
}

.u-section-2 .u-text-11 {
  margin: -273px 137px 0 570px;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  background-image: none;
  margin: 31px auto 0 570px;
  padding: 7px 16px 9px 14px;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  margin: 71px auto 56px;
  padding: 3px 23px 5px 22px;
}

.u-section-2 .u-icon-6 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    width: 940px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 313px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -274px;
    margin-right: 32px;
    margin-left: 470px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 234px;
  }

  .u-section-2 .u-line-2 {
    width: 940px;
    margin-top: 64px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 722px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -999px;
    margin-left: 470px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 55px;
    margin-right: 37px;
    margin-left: 470px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 234px;
    margin-left: 370px;
  }

  .u-section-2 .u-line-3 {
    width: 940px;
    margin-top: -454px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 470px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 821px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -1076px;
    margin-right: 37px;
    margin-left: 470px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 234px;
    margin-left: 370px;
  }

  .u-section-2 .u-line-4 {
    width: 940px;
    margin-top: 11px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 470px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -230px;
    margin-right: 37px;
    margin-left: 470px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 234px;
  }

  .u-section-2 .u-line-5 {
    width: 940px;
    margin-top: -373px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 115px;
    margin-right: 401px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 37px;
    margin-left: 470px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 240px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 287px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 14px;
  }

  .u-section-2 .u-line-2 {
    width: 720px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 772px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -1049px;
    margin-left: 360px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 360px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 14px;
    margin-left: 150px;
  }

  .u-section-2 .u-line-3 {
    width: 720px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 360px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 360px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 14px;
    margin-left: 150px;
  }

  .u-section-2 .u-line-4 {
    width: 720px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 360px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 287px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 14px;
  }

  .u-section-2 .u-line-5 {
    width: 720px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 307px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 287px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 180px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 107px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-line-2 {
    width: 540px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 822px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -1099px;
    margin-left: 270px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 270px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-line-3 {
    width: 540px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 270px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 270px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-4 {
    width: 540px;
    margin-top: -64px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 270px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 107px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-2 .u-line-5 {
    width: 540px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 230px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 107px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 270px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1854px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 124px;
    margin-right: 113px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 243px;
    margin-top: -120px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -166px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -15px;
  }

  .u-section-2 .u-line-2 {
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 242px;
    margin-top: 922px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -1132px;
    margin-left: 170px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 25px;
    margin-left: 170px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-2 .u-line-3 {
    width: 340px;
    margin-top: -467px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 170px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 242px;
    margin-top: 784px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: -1002px;
    margin-left: 170px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: auto;
  }

  .u-section-2 .u-line-4 {
    width: 340px;
    margin-top: -214px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 170px;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 242px;
    margin-top: -18px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: -195px;
    margin-left: 0;
  }

  .u-section-2 .u-line-5 {
    width: 340px;
    margin-top: -421px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 145px;
  }

  .u-section-2 .u-image-5 {
    width: 340px;
    height: 242px;
    margin-top: 18px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-top: -236px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 170px;
  }
}